<fieldset id="custom-scale-fields">
  <legend>Scale</legend>
  <div class="row">
    <div class="large-4 columns">&nbsp;</div>
    <div class="large-8 columns">
      <label for="custom-scale">
          <input type="checkbox" id="custom-scale" name="custom-scale" >
          <span class="checkbox"></span> Use Custom Scale
      </label>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label for="start-value" class="right inline">Start Value</label>
    </div>
    <div class="large-8 columns">
      <input type="text" name="start-value" id="start-value" value="0" disabled>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label for="total-steps" class="right inline">Total Steps</label>
    </div>
    <div class="large-8 columns">
      <input type="text" name="total-steps" id="total-steps" value="10" disabled>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label for="step-width" class="right inline">Step Width</label>
    </div>
    <div class="large-8 columns">
      <input type="text" name="step-width" id="step-width" value="10" disabled>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">&nbsp;</div>
    <div class="large-8 columns">
      <label for="hide-scale-labels">
          <input type="checkbox" id="hide-scale-labels" name="hide-scale-labels" >
          <span class="checkbox"></span> Hide Scale Labels
      </label>
      <br />
    </div>
  </div>
</fieldset>
