<header id="top-header">
  <div class="row">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">{{ site.name }}</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
        </ul>

        <ul class="right">
          <li>
            <form id="download-chart" action="http://localhost:3000/v1/charts/download" method="post">
              <input type="hidden" name="filename" value="chart.png" />
              <input type="hidden" name="data" id="chart-data" value="" />
              <input type="submit" class="button"  value="Download Chart"/>
            </form>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
